

<!--ABOUT-->
<section id="about" class="full-height px-lg-5">
    <div class="container">
      <div class="row pb-4">
        <div class="col-lg-8">
          <h6 class="text-brand">ABOUT</h6>
          <h1>Education and Exprience</h1>
        </div>
      </div>  
      
      <div class="row gy-5">
        <div class="col-lg-6">
          <h4>Education</h4>
          <div class="row gy-4">
            <div class="col-12">
              <div class="bg-base p-4 rounded-4 shadow-effect">
                <h5>Software Engineering Technology Advanced Diploma</h5>
                <p class="text-brand"> Centennial College, Canada (Present)</p>

              </div>
            </div>

            <div class="col-12">
              <div class="bg-base p-4 rounded-4 shadow-effect">
                <h5>Bachelor of Science in Computer Science</h5>
                <p class="text-brand"> University of Technology, Jamaica (2017-2021)</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <h4>Experience</h4>
          <div class="row gy-4">
            <div class="col-12">
              <div class="bg-base p-4 rounded-4 shadow-effect">
                <h5>IT System Administrator</h5>
                <p class="text-brand"> Ministry of Health, Kingston Jamaica (6 mons.)</p>

              </div>
            </div>

            <div class="col-12">
              <div class="bg-base p-4 rounded-4 shadow-effect">
                <h5>Hospitality Supervisor</h5>
                <p class="text-brand"> Mt. Olympus Resort and Themepark, USA (6 mons.)</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!--//ABOUT-->