<!--
index.ejs
Tarique Jemison
301266592
October 1, 2022
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

  <!--Main Content-->
  <div id="content-wrapper">
    <!--HOME-->
    <section id="home" class="full-height px-lg-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h1 class="display-5 fw-bold">I'M A <span class="text-brand">WEB DESIGNER</span>  FROM TORONTO, CA</h1>
            <p class="lead mt-2 mb-4">I am Tarique Jemison, I create beautiful websites and wonderful graphic designs tailored to each customer's needs</p>
            <a href="/about" class="btn btn-brand me-3">About Me</a>            
            <a href="./Assets/resume/TariqueJemisonResume(JrProgrammer).pdf" class="link-custom" download="Tarique-Jemison-Resume">View My CV</a>
          </div>
        </div>
      </div>
    </section>
    <!--//HOME-->    

<%- include ('partials/bottom_nav.ejs') %> 
<%- include ('partials/footer.ejs') %>

  

