<!--
index.ejs
Tarique Jemison
301266592
October 1, 2022
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

  <!--Main Content-->
  <div id="content-wrapper">

    <!--HOME-->
    <section id="home" class="full-height px-lg-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h1 class="display-5 fw-bold">I'M A <span class="text-brand">GRAPHIC DESIGNER</span>  FROM TORONTO, CA</h1>
            <p class="lead mt-2 mb-4">I am Tarique Jemison, I create beautiful websites and wonderful graphic designs tailored to each customer's needs</p>
            <a href="/about" class="btn btn-brand me-3">About Me</a>
            <a href="/home" class="link-custom">View My CV</a>
          </div>
        </div>
      </div>
    </section>
    <!--//HOME-->

    <!--ABOUT-->
    <section id="about" class="full-height px-lg-5">
      <div class="container">
        <div class="row pb-4">
          <div class="col-lg-8">
            <h6 class="text-brand">ABOUT</h6>
            <h1>Education and Exprience</h1>
          </div>
        </div>  
        
        <div class="row gy-5">
          <div class="col-lg-6">
            <h4>Education</h4>
            <div class="row gy-4">
              <div class="col-12">
                <div class="bg-base p-4 rounded-4 shadow-effect">
                  <h5>Software Engineering Technology Advanced Diploma</h5>
                  <p class="text-brand"> Centennial College, Canada (Present)</p>

                </div>
              </div>

              <div class="col-12">
                <div class="bg-base p-4 rounded-4 shadow-effect">
                  <h5>Bachelor of Science in Computer Science</h5>
                  <p class="text-brand"> University of Technology, Jamaica (2017-2021)</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <h4>Experience</h4>
            <div class="row gy-4">
              <div class="col-12">
                <div class="bg-base p-4 rounded-4 shadow-effect">
                  <h5>IT System Administrator</h5>
                  <p class="text-brand"> Ministry of Health, Kingston Jamaica (6 mons.)</p>

                </div>
              </div>

              <div class="col-12">
                <div class="bg-base p-4 rounded-4 shadow-effect">
                  <h5>Hospitality Supervisor</h5>
                  <p class="text-brand"> Mt. Olympus Resort and Themepark, USA (6 mons.)</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!--//ABOUT-->

    <!--PROJECTS-->
    <section id="projects" class="full-height px-lg-5">
      <div class="container">
        <div class="row pb-4">
          <div class="col-lg-8">
            <h6 class="text-brand">Projects</h6>
            <h1>Projects I have done in the Past</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="service p-4 bg-base rounded-4 shadow-effect">
              <div class="iconbox">
                <i class="fa-solid fa-viruses"></i>
                <h4 class="mt-4 mb-2">COVID Tracking System</h4>
                <p>Proficient in Java, C#, Python, JavaScript, HTML etc.</p>
                <a href="#" class="link-custom">Read More</a>
              </div>              
            </div>
          </div>

          <div class="col-md-4">
            <div class="service p-4 bg-base rounded-4 shadow-effect">
              <div class="iconbox">
                <i class="fa-solid fa-calculator"></i>
                <h4 class="mt-4 mb-2">Scientific Calculator</h4>
                <p>Node.js, Login authentication, Express, MongoDb, React, Angular, Vue, Docker, etc.</p>
                <a href="#" class="link-custom">Read More</a>
              </div>              
            </div>
          </div>

          <div class="col-md-4">
            <div class="service p-4 bg-base rounded-4 shadow-effect">
              <div class="iconbox">
                <i class="fa-solid fa-gamepad"></i>
                <h4 class="mt-4 mb-2">Hangman Game</h4>
                <p>Andriod Studio, Mobile Infrastructure, Mobile Security, Operating Systems, etc. </p>
                <a href="#" class="link-custom">Read More</a>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--//PROJECTS-->

    <!--SERVICES-->
    <section id="services" class="full-height px-lg-5">
      <div class="container">
        <div class="row pb-4">
          <div class="col-lg-8">
            <h6 class="text-brand">SERVICES</h6>
            <h1>Services That I Offer</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="service p-4 bg-base rounded-4 shadow-effect">
              <div class="iconbox">
                <i class="fa-solid fa-code"></i>
                <h4 class="mt-4 mb-2">General Programming</h4>
                <p>Proficient in Java, C#, Python, JavaScript, HTML etc.</p>
                <a href="#" class="link-custom">Read More</a>
              </div>              
            </div>
          </div>

          <div class="col-md-4">
            <div class="service p-4 bg-base rounded-4 shadow-effect">
              <div class="iconbox">
                <i class="fa-solid fa-laptop-code"></i>
                <h4 class="mt-4 mb-2">Web Development</h4>
                <p>Node.js, Login authentication, Express, MongoDb, React, Angular, Vue, Docker, etc.</p>
                <a href="#" class="link-custom">Read More</a>
              </div>              
            </div>
          </div>

          <div class="col-md-4">
            <div class="service p-4 bg-base rounded-4 shadow-effect">
              <div class="iconbox">
                <i class="fa-solid fa-mobile"></i>
                <h4 class="mt-4 mb-2">Mobile Computing</h4>
                <p>Andriod Studio, Mobile Infrastructure, Mobile Security, Operating Systems, etc. </p>
                <a href="#" class="link-custom">Read More</a>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--//SERVICES-->    

    <!--CONTACT-->
    <section id="contact" class="full-height px-lg-5">
      <div class="full-height px-lg-5">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-lg-8 pd-4">
              <h6 class="text-brand">CONTACT</h6>
              <h1>Have any questions? Let's talk</h1>
            </div>
            <div class="col-lg-8">
              <form action="#" class="row g-lg-3 gy-3">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" placeholder="First Name">
                </div>

                <div class="form-group col-md-6">
                  <input type="text" class="form-control" placeholder="Last Name">
                </div> 

                <div class="form-group col-md-6">
                  <input type="email" class="form-control" placeholder="Email">
                </div>

                <div class="form-group col-md-6">
                  <input type="tel" class="form-control" placeholder="Contact Number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                </div>

                <div class="form-group col-12">
                  <input type="text" class="form-control" placeholder="Enter subject">
                </div>

                <div class="form-group col-12">
                  <textarea name="" rows="4" class="form-control" placeholder="Enter your message"></textarea>
                </div>

                <div class="form-group col-12 d-grid">
                  <button type="submit" class="btn btn-brand">Contact me</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--//CONTACT-->





  </div>

  
  

<%- include ('partials/bottom_nav.ejs') %> 
<%- include ('partials/footer.ejs') %>

  

