


<!--PROJECTS-->
<section id="projects" class="full-height px-lg-5">
    <div class="container">
      <div class="row pb-4">
        <div class="col-lg-8">
          <h6 class="text-brand">Projects</h6>
          <h1>Projects I have done in the Past</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="service p-4 bg-base rounded-4 shadow-effect">
            <div class="iconbox">
              <i class="fa-solid fa-viruses"></i>
              <h4 class="mt-4 mb-2">COVID Tracking System</h4>
              <p>Proficient in Java, C#, Python, JavaScript, HTML etc.</p>
              <a href="#" class="link-custom">Read More</a>
            </div>              
          </div>
        </div>

        <div class="col-md-4">
          <div class="service p-4 bg-base rounded-4 shadow-effect">
            <div class="iconbox">
              <i class="fa-solid fa-calculator"></i>
              <h4 class="mt-4 mb-2">Scientific Calculator</h4>
              <p>Node.js, Login authentication, Express, MongoDb, React, Angular, Vue, Docker, etc.</p>
              <a href="#" class="link-custom">Read More</a>
            </div>              
          </div>
        </div>

        <div class="col-md-4">
          <div class="service p-4 bg-base rounded-4 shadow-effect">
            <div class="iconbox">
              <i class="fa-solid fa-gamepad"></i>
              <h4 class="mt-4 mb-2">Hangman Game</h4>
              <p>Andriod Studio, Mobile Infrastructure, Mobile Security, Operating Systems, etc. </p>
              <a href="#" class="link-custom">Read More</a>
            </div>              
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--//PROJECTS-->