 <!--
about.ejs
Tarique Jemison
301266592
October 22, 2022
-->


 <%- include ('partials/header.ejs') %>
 <%- include ('partials/main_nav.ejs') %>
 <!--ABOUT-->

 <div id="content-wrapper">
  <div class="container"> 

    <section id="about" class="full-height px-lg-5">
      <div class="container">
        <div class="row pb-4">
          <div class="col-lg-12">
            <h6 class="text-brand">ABOUT</h6>
            <h1>Tarique A. Jemison</h1>
            <p class="text-brand">Dedicated young professional who aims to help businesses succeed by 
              imposing difficult questions and answering them by using quantitative-driven insights. 
              I'm a big believer in "learning as you go" and the Laws of Attraction. My eagerness to 
              adapt and learn in different environments has propelled me to conquer any obstacle life 
              might throw my way.
            </p>
            <p class="text-brand">
              As an avid traveler, I have garnered extensive work experience in the US through spending 
              my summers working in a variety of economic sectors like information, food and beverage,
              retail, hospitality, marketing, and textile.              
             
            </p>
          </div>

          <div class="col-lg-6">
            <p>Proficient: Photoshop, Excel, Presentation</p>
            <p>Learning: TensorFlow, Python (scikit-learn, NumPy, SciPy, pandas), Spark (Spark SQL Pyspark) Cloud Computing, Google Analytics</p>
          </div>
          <div class="col-lg-6">
            <p> Knowledgeable: Tableau, SQL, R, HTML, CSS, Javascript Familiar: NLP (Natural Language Processing), Machine Learning, SPSS</p>
          </div>

          <div class="col-lg-12">
            <p class="text-brand">Graduated in 2021 from the University of Technology, Jamaica with a BSc. in Computer Science.</p>
          </div>
        </div>  
        
        <div class="row gy-5">
          <div class="col-lg-6">
            <h4>Education</h4>
            <div class="row gy-4">
              <div class="col-12">
                <div class="bg-base p-4 rounded-4 shadow-effect">
                  <h5>Software Engineering Technology Advanced Diploma</h5>
                  <p class="text-brand"> Centennial College, Canada (Present)</p>

                </div>
              </div>

              <div class="col-12">
                <div class="bg-base p-4 rounded-4 shadow-effect">
                  <h5>Bachelor of Science in Computer Science</h5>
                  <p class="text-brand"> University of Technology, Jamaica (2017-2021)</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <h4>Experience</h4>
            <div class="row gy-4">
              <div class="col-12">
                <div class="bg-base p-4 rounded-4 shadow-effect">
                  <h5>IT System Administrator</h5>
                  <p class="text-brand"> Ministry of Health, Kingston Jamaica (6 mons.)</p>

                </div>
              </div>

              <div class="col-12">
                <div class="bg-base p-4 rounded-4 shadow-effect">
                  <h5>Hospitality Supervisor</h5>
                  <p class="text-brand"> Mt. Olympus Resort and Themepark, USA (6 mons.)</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<!--//ABOUT-->
<%- include ('partials/bottom_nav.ejs') %> 
<%- include ('partials/footer.ejs') %>